#include <dt-bindings/zmk/mouse.h>
#include <input/processors.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

/*

   &mmv_input_listener {
       input-processors = <&zip_xy_scaler 2 1>;
   };

   &msc_input_listener {
       input-processors = <&zip_xy_scaler 2 1>;
   };

 */

#define ZMK_MOUSE_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_MOUSE_DEFAULT_SCRL_VAL 20    // 10

/ {
    behaviors {
        td0: td0 {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Shift/Caps Lock Tap Dance";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&kp CAPS>;
        };

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    rgb_encoder: rgb_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;
    };

    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <30>;
    };

    macros {
        alfred: alfred {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none>;
            label = "ALFRED";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "COLEMAK";
            bindings = <
&kp GRAVE  &kp Q           &kp W             &kp F          &kp P         &kp G                                      &kp C_FAST_FORWARD              &kp J            &kp L              &kp U       &kp Y        &kp SEMICOLON    &kp EQUAL
&kp TAB    &mt LEFT_ALT A  &mt LEFT_SHIFT R  &mt LCTRL S    &mt LGUI T    &kp D                      &kp K_PREVIOUS  &kp K_PLAY_PAUSE    &kp K_NEXT  &kp H            &mt RIGHT_SHIFT N  &mt LGUI E  &mt RCTRL I  &mt RIGHT_ALT O  &kp SQT
&kp AT     &kp Z           &kp X             &kp C          &kp V         &kp B        &kp K_MUTE                    &kp C_REWIND                    &kp K            &kp M              &kp COMMA   &kp DOT      &kp FSLH         &mo 2
                                             &kp LG(SPACE)  &lt 1 ESCAPE  &lt 2 ENTER                                                                &lt 1 BACKSPACE  &kp SPACE          &kp MINUS
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        raise_layer {
            display-name = "SYMBOL";
            bindings = <
&trans  &kp EXCL    &kp AT       &kp HASH       &kp LEFT_BRACKET      &kp RIGHT_BRACKET                                &kp C_AC_SCROLL_UP                     &kp UNDER  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp POUND  &kp BACKSPACE
&trans  &kp DOLLAR  &kp PERCENT  &kp CARET      &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS            &mmv MOVE_LEFT  &mkp LCLK             &mmv MOVE_RIGHT  &kp MINUS  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp SLASH  &kp EQUAL
&trans  &kp TILDE   &kp PIPE     &kp AMPERSAND  &kp LEFT_BRACE        &kp RIGHT_BRACE        &trans                    &kp C_AC_SCROLL_DOWN                   &kp PLUS   &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp STAR   &trans
                                 &trans         &trans                &trans                                                                                  &trans     &kp NUMBER_0  &kp PERIOD
            >;

            sensor-bindings = <&inc_dec_kp C_BRIGHTNESS_INC C_BRIGHTNESS_DEC>;
        };

        lower_layer {
            display-name = "UTIL";
            bindings = <
&trans  &kp F1           &kp F2           &kp F3           &kp F4           &kp F5                                         &mmv MOVE_UP                     &kp F6           &kp F7           &kp F8           &kp F9           &kp F10   &bt BT_CLR_ALL
&trans  &trans           &bt BT_SEL 0     &bt BT_SEL 1     &bt BT_SEL 2     &bt BT_SEL 3                   &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &kp LEFT         &kp DOWN         &kp UP           &kp RIGHT        &kp HOME  &kp PG_UP
&trans  &rgb_ug RGB_TOG  &rgb_ug RGB_SAD  &rgb_ug RGB_SAI  &rgb_ug RGB_EFF  &rgb_ug RGB_EFF  &kp C_MUTE                    &mmv MOVE_DOWN                   &rgb_ug RGB_SPD  &rgb_ug RGB_SPI  &rgb_ug RGB_BRD  &rgb_ug RGB_BRI  &kp END   &kp PG_DN
                                          &trans           &trans           &trans                                                                          &kp INS          &kp DEL          &trans
            >;

            sensor-bindings = <&scroll_encoder>;
        };
    };
};
